{
    "test": {
        "PORT": 3000,
        "MONGODB_URI": "mongodb://localhost:27017/TodoAppTest",
        "JWT_SECRET": "ashadd872392oi3idjo3ijdoijod3j2d8jdoi3d"
    },
    "development": {
        "PORT": 3000,
        "MONGODB_URI": "mongodb://localhost:27017/TodoApp",
        "JWT_SECRET": "ashadd8kjkdjsf983843jhdoijod3j2d8jdoi3d"
    }
}
